<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <div class="col-md-12">

                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="/">
                        <img src="img/logo-alt.png" alt="logo">
                    </a>
                </div>
                <!-- /footer logo -->

                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Mercury STK © 2019. All Rights Reserved.</p>
                </div>
                <!-- /footer copyright -->

            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Footer -->