<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Find Me Home</h2>
            </div>
            <!-- /Section header -->

            <!-- about -->
            <div class="col-md-12">
                <div class="about">
                    <i class="fa fa-book" style="display: flex; justify-content: center;"></i>
                    <div class="text-center">
                        <h3>Find Me Home walkthrough</h3>
                    </div>

                    <hr>

                    <h4 style="padding-top: 50px;">1. Registration screen:</h4>

                    <img class="img-responsive" src="/img/fmh1.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">2. Add Photo screen:</h4>

                    <img class="img-responsive" src="/img/fmh2.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">3. Phone Entry screen:</h4>

                    <img class="img-responsive" src="/img/fmh3.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">4. Main page for new users:</h4>

                    <img class="img-responsive" src="/img/fmh4.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">5. From the Menu screen you can navigate to the “Add a user who will
                        track me”:</h4>

                    <img class="img-responsive" src="/img/fmh5.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">6. Add A User Who Will Track Me screen:</h4>

                    <img class="img-responsive" src="/img/fmh6.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">7. Type different name and click on the person’s icon in results:</h4>

                    <img class="img-responsive" src="/img/fmh7.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">8. The user appears on My Trackers screen:</h4>

                    <img class="img-responsive" src="/img/fmh8.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">9. You can choose favorite trackers from the screen above and they
                        will show up on your Main page. To choose favorites click Edit and tap on the person’s icon
                        (it should be in blue circle).
                        To delete you tracker click Edit and tap on the &times; icon below each person:</h4>

                    <img class="img-responsive" src="/img/fmh9.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">10. Click Done and navigate to the Main page and all users that are
                        in blue circle will be displayed in your Main screen. However if you click SOS button all users
                        in the My Trackers screen will get alerted, regardless of whether they are marked as favorites
                        or not:</h4>

                    <img class="img-responsive" src="/img/fmh10.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">11. You can scroll to see all of your trackers:</h4>

                    <img class="img-responsive" src="/img/fmh11.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">12. From any screen you can tap on any person’s icon to see their
                        location or call them:</h4>

                    <img class="img-responsive" src="/img/fmh12.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">13. Tap on any location to see the map. You can zoom in/zoom out:</h4>

                    <img class="img-responsive" src="/img/fmh13.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">14. From the Menu you can select “Add a user I will track”:</h4>

                    <img class="img-responsive" src="/img/fmh14.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">15. Type in user name and click on person’s icon:</h4>

                    <img class="img-responsive" src="/img/fmh15.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">16. This user will show up in the “People who I Track” screen, from
                        where you
                        can tap on any person’s icon to see their location or call them:</h4>

                    <img class="img-responsive" src="/img/fmh16.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">17. Tap on the "Change my avatar" link in the menu:</h4>

                    <img class="img-responsive" src="/img/fmh17.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">18. Tap on the "Change fullname" to change your name:</h4>

                    <img class="img-responsive" src="/img/fmh18.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">19. Tap on the "Change phone number" to change your phone number:</h4>

                    <img class="img-responsive" src="/img/fmh19.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">20. Tap on the "Change my password" to change your password:</h4>

                    <img class="img-responsive" src="/img/fmh20.png" alt="" style="position: relative; margin: auto">

                    <hr>

                    <h4 style="padding-top: 50px;">21. When the user who is being tracked sends SOS to his/her tracker:</h4>

                    <img class="img-responsive" src="/img/fmh21.png" alt="" style="position: relative; margin: auto">

                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->