<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <div class="card">
            <h2 style="display: flex; justify-content: center;"><a href="/findmehome">Find Me Home</a></h2>
            <p>Find Me Home app helps you locate lost or confused people who are unable to find their way back home</p>
            <a href="/findmehome">
                <img class="img-responsive" src="/img/3d.jpg" alt="" style="position: relative; margin: auto;">
            </a>

        </div>

    </div>
    <!-- /Container -->

</div>
<!-- /About -->